/*
 *  Grid
 */
.container {
    @include containers;
    margin: 0 auto;
    padding: 30px 15px;
    @include clearfix;
}
.row {
    margin: 0 -15px;
    @include clearfix;
}
@include columns($max);
